<div class="container">
    <div class="col-md-5">
        <div class="form-area" style="background-color: #FAFAFA;padding: 10px 40px 60px;margin: 10px 0px 60px;border: 1px solid GREY;">
            <h1 style="margin-bottom: 25px; text-align: center;">Transactions page</h1>
            <form role="form" action="/createtransaction" method="POST">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Create Stripe Payments</h3>
                <div class="form-group">
                    <label for="amount">Your Token:</label>
                    <textarea class="form-control" type="textarea" id="token" name="token" rows="7">
                        <%=token%>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" class="form-control" name="amount" id="amount" required>
                </div>
                <div class="form-group">
                    <label for="currency">Currency: </label>
                    <input type="text" class="form-control" name="currency" id="currency" required>
                </div>
                <div class="form-group">
                    <label for="cardnumber">Card number </label>
                    <input type="text" class="form-control" name="cardnumber" id="cardnumber" class="card-number" required>
                </div>
                <div class="form-group">
                    <label for="cvc">CVC: </label>
                    <input type="number" class="form-control" name="cvc" id="cvc" class="card-cvc" required>
                </div>
                <div class="form-group">
                    <label for="card-expiry-month">Expired Month: </label>
                    <input type="number" class="form-control card-expiry-month" name="card-expiry-month" id="card-expiry-month" required>
                </div>
                <div class="form-group">
                    <label for="card-expiry-year">Expired Year: </label>
                    <input type="number" class="form-control card-expiry-year" name="card-expiry-year" id="card-expiry-year" required>
                </div>
                <div class="form-group">
                    <p class="payment-errors"></p>
                </div>
                <button type="submit" name="submit" class="submittransaction btn btn-primary pull-right" id="submittransaction">Submit Form</button>
            </form>
        </div>
    </div>
</div>
